target/
!.mvn/wrapper/maven-wrapper.jar
/architecture-tests/target/
/activemq-data
/bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Logs ###
*.log

### Others ###
out/
.DS_Store
.history/
.vscode/

### Secrets ###
**/src/main/resources/application.yml
**/src/main/resources/application.properties
